@import './common.scss';

#legalBtn:hover ~ #legalContent {
	opacity: 1;
	
}

#banner{
	background-color: black;
}

.zero{
	transform-origin: 50% 50%;
}

.bring_shadow{
	display: none;
}

.footer{
	z-index: 100;
}

#legalContent{
	display: none;
}