@import '../../../_common/styles/rtb.scss';
@import '../../../_common/styles/300x600.scss';

.bring{
	transform-origin: 300px 600px;
	@include pos-scale(-150, -300, 0.5);	
}

#legalBtn{	
	@include pos(216, 535);
	// opacity: 1;
}


.green{
	// display: none;
}

.proline_small{
	display: none;
}

.zero_middle{
	transform-origin: 300px 600px;
	@include pos-scale(-150, -300, 0.5);	
	// @include pos-scale(-150, -459, 0.27);	
}