@import '../../../_common/styles/rtb.scss';
@import '../../../_common/styles/300x250.scss';

.bring{
	transform-origin: 50% 50%;
	@include pos-scale(-147, -81, .485);
	// @include pos-scale(-150, -125, .5);
}

#legalBtn{	
	@include pos(195, 213);
	// opacity: 1;
}


#banner{
	// overflow: visible;
}