@import '../../../_common/styles/rtb.scss';
@import '../../../_common/styles/300x600.scss';

.bring{
	// transform-origin: 50% 50%;
	@include pos-scale(-1, -66, .5);
	// @include pos-scale(-150, -125, .5);
}

#legalBtn{	
	// @include pos(195, 213);
	// opacity: 1;
}


.green{
	// display: none;
}

.proline_small{
	display: none;
}